* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 17px 0;
  border-bottom: 1px solid gray;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn {
  width: 256px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: red;
  font-family: Inter;
  font-weight: 400;
  font-size: 14.75px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Inter";
  font-size: 14.63px;
  line-height: 24px;
  vertical-align: middle;
  transition: 0.3s;
}
.link:hover {
  color: #fc004a;
}

.burger-men {
  display: flex;
  margin-top: 60px;
}

.burger-men img {
  width: 100%;
}

.burger-me {
  display: none;
}

@media (max-width: 800px) {
  .i {
    display: none;
  }

  .big_box {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .links {
    display: none;
  }
  .burger-me {
    display: block;
  }
  .mini_box {
    width: 100px;
  }
}

.mini_box {
  width: 235px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 15px -3px #0000001a;
  border-radius: 15px;
  transition: 0.3s;
}

.big_box {
  display: flex;
  margin-top: 45px;
  gap: 10px;
  flex-wrap: wrap;
}

h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 17.66px;
  line-height: 28px;
  vertical-align: middle;
  margin-left: 10px;
}

p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 18.28px;
  line-height: 28px;
  vertical-align: middle;
  color: #fc004a;
  margin-left: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 32.48px;
  line-height: 40px;
  vertical-align: middle;
  margin-top: 60px;
}

.box_btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  margin-left: 180px;
}

.h {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 60px 0;
}

.li {
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  vertical-align: middle;
  transition: 0.3s;
}
.li:hover {
  color: #fc004a;
}
